
<% if current_user %>
  <h5>Hello <%= current_user.name.capitalize %></h5>
<% else %>
  <h5>Hello</h5>
<% end %>

<h4>  Question feed </h4>
<% @questions.each do |question| %>
<ul>
<li><%= link_to question.title, question_path(question.id) %>
<%= link_to 'answer this question', new_question_answer_path(question) %>
<%= image_tag avatar_url(question.user, 35), class: "avatar" %>
</li>
</ul>
<% end %>

<%= link_to 'add a question', new_question_path %>

